*.cs !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.json !text !filter !merge !diff
*.xml !text !filter !merge !diff
*.shader !text !filter !merge !diff
*.unity !text !filter !merge !diff
*.prefab !text !filter !merge !diff
*.asset !text !filter !merge !diff
*.xsd !text !filter !merge !diff
*.uss !text !filter !merge !diff
*.odf !text !filter !merge !diff
*.spr !text !filter !merge !diff
*.uxml !text !filter !merge !diff
*.inputactions !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.meta !text !filter !merge !diff
*.mat !text !filter !merge !diff
*.lighting !text !filter !merge !diff
